.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 190px;
    padding-bottom: 50px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: orange;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 60px;
    height: 6px;
    background-color: orange;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction:column ;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 70px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.input svg{
    margin:0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 19px;
   
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    text-decoration: none;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background-color: orange;
    border-radius:50px ;
    font-weight: 700;
    cursor: pointer;
    
}

.gray{
    background-color: antiquewhite;
    color: #676767;
    
    
}
